@font-face {
    font-family: font;
    src: url(/Font/SturkopfGrotesk\ \(Rus\ by\ Rigbi\).ttf);
}

body {
    background-color: rgb(219, 219, 219);
    padding: 0;
    margin: 0;
}

.mein-content {
    flex: 1 0 auto;
}
