.tovar-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 20px; 
}

.back-card {
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    height: 400px;
    width: 100%; 
    max-width: 400px; 
    margin: 0 auto; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.img1 img {
    width: 97%; 
    border: 6px solid rgb(148, 148, 148);
    border-radius: 15px; 
}

.text_attackshark-card {
    font-size: 20px; 
    font-family: monospace;
    text-align: center; 
    margin: 10px 0; 
}

.btn-card {
    width: 150%; 
    height: 45px; 
    font-size: 24px; 
    font-family: monospace;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #fff;
    color: black; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.btn-card:hover {
    color: lightgray; 
}

.mouse-ex {
    font-size: 16px;
    font-family: monospace;
    text-align: center;
    margin: 10px 0; 
}

@media (max-width: 768px) {
    .back-card {
        width: 95%;
    }

    .text_attackshark-card {
        font-size: 18px;
    }

    .btn-card {
        font-size: 18px; 
    }

    .mouse-ex {
        font-size: 14px; 
    }
}